/* Global Style */
*{
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Heading */
header{
   line-height: 75px;
   padding: 30px;
   background-color: #E4DCCF;
   color: #363A3F;
   height: 150px;
}
#heading{
   font-size: 2rem;
   text-transform: capitalize;
   float: left;
   letter-spacing: 4px;
}

#rules{
   font-size: 1.5rem;
   float: right;
   border: solid 1px white;
   background-color: white;
   border-radius: 10px;
   padding: 0 10px;
}
#rules a{
   text-decoration: none;
   color: #363A3F;
   font-weight: bold;
}
#rules a:hover{
   text-decoration: underline;
}
/* Body and scores*/
body{
   background-color: #363A3F;
   color: #E4DCCF;
   font-size: 30px;
   font-weight: bold;
}
 .score-area{
    text-align: center;
    padding: 40px 100px;
    width: 350px;
    border: solid 2px #363A3F;
    border-radius: 10px;
    background-color: #3D5361;
 }
#score{
    border-bottom: solid 2px #363A3F;
}

 /* Style for game area */

.players{
   text-align: center;
   word-spacing: 200px;
}
#player-computer{
   word-spacing: 450px;
}
.image{
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   height: 350px; 
}

.pic{
   width: 350px;
   height: 350px;
   overflow: hidden;
   border-radius: 50%;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.choices{
   text-align: center;
   font-size: 40px;
   margin-top: 80px;
   word-spacing: 70px;
}
.btn{
   display: inline-block;
   border: 3px solid white;
   border-radius: 50%;
   padding: 20px;
   cursor: pointer;
}
.btn:hover{
   background-color: #E4DCCF;
   color: #363A3F;
}
#label{
   text-align: center;
   word-spacing: 115px;
   font-size: 20px;
   color:white;
}
.text{
   padding-left: 30px;
   bottom: 300px;
   text-align: center;
   margin-top: 20px;
}
